


ul{display:flex;
  justify-content:space-around ;

  padding: 20px;


}

li{
  border:solid 3px ;
  list-style: none;
  padding: 2px;
  color: rgb(9, 0, 138);
  
  font-size: 30px;
}

li:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.den{
border: solid;
border-radius: 100%;

}

.HUI{
  font-size: 30px;
  border:solid;
  font-family: cursive;
  background-color: lightblue;
}


.dd{
font-size: 76px;
text-align: center;
}

.ee{
font-size: 30px;
text-align: center;

}
ol{
  font-size: 30px;
}

.wow{
  text-align: center;
}

.tu{
  text-align: center;
}

.we{
display: flex;





}